body {
  background-color:#e2e8f0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

thead { color:green; }
tbody { color:#718096; }
tfoot { color:red; }

table, th, td {
  border: 1px solid black;
}

th {
  font-weight: 800;
}

.worldTable {
  margin: auto auto 1rem;
}

.title {
  color: #2d3748;
  font-family: serif;
}

.world-map {
  width: 60%;
  margin: 0.5rem 0 1rem;
}